@model WorkSchedule


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            @if (@Model.Employee!= null)
            {
                <h2 class="text-success">@Model.Employee.Fullname Task List</h2>
            }

        </div>
        @{
            var t = new EmployeeTask();
        }
        @Html.Partial("_Create",t)
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scheduled</th>
                    <th>Actual</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="tabletest">
            </tbody>
        </table>
    </div>

    <br />
</div>