@model IEnumerable<ASP.groep.L.Domain.TreeSpecies>
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="row">
    <div class="col-md-12">
        <h2>Welcome admin!</h2>
        <p>Refer to the Quickstart here <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core"> if you have any questions.</a>.
    </div>
</div>*@
@*    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="/Images/Trees/alder-buckthorn-black-berries.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Alder Buckthorn</h5>
            <p class="card-text">name botanical: Rhamnus frangula
                    height: up to 7 m (30 ft)
                    soil: permeable soils
                    location: Sun to half-shade</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/Images/Trees/black-poplar-tree-winter.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/Images/Trees/common-ash-crown.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/Images/Trees/cut-leaf-beech-crown-autumn.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>*@
    <div class="card-group">
  <div class="card">
    <a href="https://www.hltv.org/">
    <img src="https://groepltrees.web.app/ASP/images/Zone/plantsite1.png" class="card-img-top" alt="west">
    <div class="card-body">
      <h5 class="card-title">Kweeksite 1</h5>
    </div>
  </div>
  <div class="card">
    <a href="https://www.google.com/">
    <img src="https://groepltrees.web.app/ASP/images/Zone/plantsite2.png" class="card-img-top" alt="central">
    <div class="card-body">
      <h5 class="card-title">Kweeksite 2</h5>
    </div>
  </div>
  <div class="card">
    <a href="https://www.ap.be//">
    <img src="https://groepltrees.web.app/ASP/images/Zone/plantsite3.png" class="card-img-top" alt="oost">
    <div class="card-body">
      <h5 class="card-title">Kweeksite 3</h5>
    </div>
  </div>
